* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: darkslategray;
}
.container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: transparent;
    border:1px solid black;
    border-radius: 20px;

}

